.data-Container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.hr-Profile {
    margin: 0 20px;
}

.user-Info-Container {
    width: 350px;
    padding: 5px 10px;
    height: fit-content;
}

.graphics-Container {
    width: 550px;
}