.App-Header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 8px 15px 0;
    color: rgb(75, 75, 75);
    position: relative;
}

.logo-Icon {
    width: 80px;
    height: 80px;
}

.logo{
    display: flex;
    padding-right: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.logo h1 {
    margin: auto;
    font-size: 40px;
}

.App-Nav {
    height: 100%;
    margin-left: 20px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
}

.App-Nav a {
    text-decoration: none;
    cursor: default;
}

.nav-logo > *{
    margin: 0 15px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: rgb(75, 75, 75);
}

.nav-logo > *:hover {
    transform: scale(1.35);
    transition: 0.4s;
    color: rgb(63, 63, 63);
}

.underline {
    position: absolute;
    width: 35px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    bottom: -10px;
}

.nav-logo:nth-child(1).active ~ .underline {
    transform: translateX(15px);
    transition: 0.4s;
}

.nav-logo:nth-child(2).active ~ .underline {
    transform: translateX(80px);
    transition: 0.4s;
}

.App-Body {
    min-width: 1200px;
    max-width: 1200px;
    margin: 20px auto;
}
